{
  "presets": ["es2015", "stage-3"],
  "plugins": [
    "transform-async-to-generator",
    "transform-regenerator",
    "transform-runtime",
    "syntax-async-functions",
    "transform-es2015-modules-umd"
  ]
}